#PQEx{
    display:none;
    }

.Aimg, .vdo{
    width:500px;
    height:500px;
    margin:auto;
    }

#topDiv{
    border:0px;
    width: 100%;
    height: 100%;
    
    display:flex;
    justify-content:center;
    }
    
#topDiv div{
    text-align:center;
    width:50%;
    height:100%;
    background-color:rgba(255, 255, 255, 0.5);
    /*opacity: 0.5;*/
    box-shadow: 2px 2px 2px 80ffa8;
    }
    /*----------------------------------------*/   
    
#midDiv{
    /*border: red 1px solid;*/
    margin-top:2.5%;
    width: 100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    }
    /*----------------------------------------*/
#midLeftDiv{
    border: grey 1px solid;
    width:15%;
    height: 300px;
    background-color:rgba(255, 255, 255, 0.5);
    box-sizing:border-box;
    display:flex;
    flex-wrap:wrap;
    overflow-y:scroll;
    }
    
::-webkit-scrollbar {
    width:5px;
    
  }
::-webkit-scrollbar-thumb{
    background: #fcdd88;
  }  

#midLeftTitle{
    width:100%;
    height:25px;
    /*background:red;*/
    display:flex;
    flex-wrap:wrap;
    }
    
#midLeftTitle div{
    /*background:red;*/
    height:100%;
    width:100%;
    font-size:125%;
    text-align:center;
    }    
    
    /*----------------------------------------*/
#midCenterDiv{
    border: grey 1px solid;
    margin-left:2.5%;
    margin-Right:2.5%;

    width:65%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    box-sizing:border-box;
    display:flex;
    flex-wrap:wrap;
    
    }
    

.QuestionAnswer ,.AppendedQandA{
    display:flex;
    flex-wrap:wrap;
    }

.questionAnswerTxtContainer{
    /*border:red 1px solid;*/
    font-size:125%;
    color:#bd9f4d;
    text-shadow:2px 2px 10px #ffbb00;
    /*height:50%;*/
    width:100%;
    box-sizing:border-box;
    justify-content:center;
    }

.questionTxt{
    
    }

.answerTxt{
    color:#916b00;
    text-shadow:1px 1px 5px ffc9c9;
    display:flex;

    flex-wrap:wrap;
    }
    /*----------------------------------------*/
#howToOperate{
    text-align:center;
    border:white 2px double;
    width:100%;
    }    
    
    
    
    /*----------------------------------------*/
#midRightDiv{
    border: grey 1px solid;
    width:15%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    box-sizing:border-box;

    }

#midRightTitle{
    
    
    }

    /*----------------------------------------*/
body{
    display:flex;
    flex-wrap:wrap;
    /* background-image:url('https://via.placeholder.com/350x150'); */
    background-image: repeating-linear-gradient(to right, lightgray ,#f5e4b3 ,#fac42a);
   
    }

.buttonL ,#hideAll{
    width:90%;
    height:50px;
    margin:auto;
    margin-top:2%;
    background:az80ffa8ure;
    border:#5c4913 solid 2px;
    border-radius:10%;
    /*box-shadow:2px 2px 10px  azure;*/
    color:#ffcb36;

    }
    
.buttonL:hover ,#hideAll:hover{
    animation-name: hoverBoxShadow;
    animation-duration: 0.5s;
    box-shadow:2px 2px 15px  #fcdd88;
    color:yellow;
    background:#fcdd88;
    border:solid 2px yellow;
    text-shadow:2px 2px 15px  #fcdd88;
    }
    
    
/*animations*/
@keyframes hoverBoxShadow{
    from{
        box-shadow:none;
        color:#ffcb36;
        background:80ffa8;
        }
    to{
        box-shadow:2px 2px 15px  #fcdd88;
        color:yellow;
        background:#fcdd88;
        border:solid 2px yellow;

        }
    }









    