#PQEx{
    display:none;
    }


#topDiv{
    border:0px;
    width: 100%;
    height: 100%;
    
    display:flex;
    justify-content:center;
    }
    
#topDiv div{
    text-align:center;
    width:50%;
    height:100%;
    background-color:rgba(255, 255, 255, 0.5);
    /*opacity: 0.5;*/
    box-shadow: 5px 5px 2px;
    }
    /*----------------------------------------*/   
    
#midDiv{
    /*border: red 1px solid;*/
    margin-top:2.5%;
    width: 100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    }
    /*----------------------------------------*/
#midLeftDiv{
    border: grey 1px solid;
    width:15%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    box-sizing:border-box;
    display:flex;
    flex-wrap:wrap;
    }
    
#midLeftTitle{
    width:100%;
    height:25px;
    /*background:red;*/
    display:flex;
    flex-wrap:wrap;
    }
    
#midLeftTitle div{
    /*background:red;*/
    height:100%;
    width:100%;
    font-size:125%;
    text-align:center;
    }    
    
    /*----------------------------------------*/
#midCenterDiv{
    border: grey 1px solid;
    margin-left:2.5%;
    margin-Right:2.5%;

    width:65%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    box-sizing:border-box;
    display:flex;
    flex-wrap:wrap;
    
    }
    
.Pquestion{
    border:darkgrey double 3px;
    width:125px;
    height:125px;
    background:lightgray;
    box-sizing:border-box;
    display:flex;
    flex-wrap:wrap;
    }

#midCenterDiv .Pquestion p{
    margin-top:5%;
    font-size:190%;
    }

.QuestionAnswer ,.AppendedQandA{
    display:flex;
    /*flex-wrap:wrap;*/
    }

.questionAnswerTxtContainer{
    /*border:red 1px solid;*/
    font-size:125%;
    color:#006CFF;
    text-shadow:2px 2px 10px black;
    /*height:50%;*/
    width:100%;
    }

.questionTxt{
    
    }

.answerTxt{
    color:#007BD1;
    text-shadow:1px 1px 5px azure;
    display:flex;

    flex-wrap:wrap;
    }
    /*----------------------------------------*/
#howToOperate{
    text-align:center;
    border:white 2px double;
    width:100%;
    }    
    
    
    
    /*----------------------------------------*/
#midRightDiv{
    border: grey 1px solid;
    width:15%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    box-sizing:border-box;

    }

#midRightTitle{
    
    
    }

    /*----------------------------------------*/
body{
    display:flex;
    flex-wrap:wrap;
    background-image:url('https://via.placeholder.com/350x150');
    }

.buttonL ,#hideAll{
    width:90%;
    height:50px;
    margin:auto;
    margin-top:2%;
    background:azure;
    border:#00B2FF solid 2px;
    border-radius:10%;
    /*box-shadow:2px 2px 10px  azure;*/
    color:#006CFF;

    }
    
.buttonL:hover ,#hideAll:hover{
    animation-name: hoverBoxShadow;
    animation-duration: 0.5s;
    box-shadow:2px 2px 15px  #FF5959;
    color:red;
    background:#FF5959;
    border:solid 2px red;
    text-shadow:2px 2px 15px  pink;
    }
    
    
/*animations*/
@keyframes hoverBoxShadow{
    from{
        box-shadow:none;
        color:#006CFF;
        background:azure;
        }
    to{
        box-shadow:2px 2px 15px  #FF5959;
        color:red;
        background:#FF5959;
        border:solid 2px red;

        }
    }










    